/* ! Hoja de Estilos Principal del Portafolio */

/* ======================== VARIABLES GLOBALES (ROOT) ======================== */
/* * Definimos los colores base del Portfolio usando oklch para mayor precisión */
:root {
  --color-base: oklch(0.2429 0.0304 283.91); /* ? Catppuccin Base */
  --color-base-darker: oklch(
    0.2155 0.0254 284.06
  ); /* ? Catppucin Base Darker */
  --color-base-darkest: oklch(
    0.1828 0.0204 284.2
  ); /* ? Catppuccin Base más oscuro de todos */

  --color-text: oklch(0.8787 0.0426 272.28); /* ? Texto principal */
  --color-subtext: oklch(0.8168 0.0403 272.86); /* ? Subtexto */
  --color-subtext-zero: oklch(0.751 0.0396 273.93); /* ? Subtexto más oscuro */

  --color-text-blue: oklch(0.7664 0.1113 259.88); /* ? Texto en azul */
  --color-text-lavender: oklch(0.8166 0.091 277.31); /* ? Texto en lavanda */
  --color-text-sky: oklch(0.8467 0.0833 210.25); /* ? Texto en azul claro */
  --color-text-mauve: oklch(
    0.7871 0.1187 304.77
  ); /* ? Texto en púrpura suave */
}

/* ======================== TIPOGRAFÍAS (FONT-FACES) ======================== */
/* * Tipografía principal: Maple Mono NF (Ligth, Regular, Medium, SemiBold, Bold, ExtraBold) */

@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-Light.ttf.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-LightItalic.ttf.woff2) format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-Regular.ttf.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-Italic.ttf.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-Medium.ttf.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-MediumItalic.ttf.woff2) format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-SemiBold.ttf.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-SemiBoldItalic.ttf.woff2) format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-Bold.ttf.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-BoldItalic.ttf.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-ExtraBold.ttf.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maple Mono NF";
  src: url(/fonts/MapleMono-ExtraBoldItalic.ttf.woff2) format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* ======================== ESTILOS GLOBALES BASE (TAGS HTML) ======================== */
/* ? Contiene estilos base que aplican a las etiquetas nativas de HTML (body, h1-h4, p, a, etc.) */

/* ? ↓ Fondo principal del documento y fuente por defecto */
body {
  background-color: var(--color-base);
  color: var(--color-text);
  font-family: "Maple Mono NF", monospace;
  text-align: left;
}

/* ? ↓ Títulos y subtítulos destacan más claros */
h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-align: center;
}

/* ? ↓ Enlaces con estilo diferenciado */
a {
  color: var(--color-text-blue);
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
}

/* ======================== ESTILOS DE ELEMENTOS ESPECÍFICOS Y CLASES ======================== */
/* ? Contiene estilos aplicados puntualmente mediante clases (.class) */

/* ? ↓ Título principal del Portfolio */
.titulo-principal {
  color: var(--color-text-lavender);
  font-weight: 800;
  font-style: italic;
}

/* ? ↓ Clases utilitarias generales */
.indice {
  text-align: center;
}

.subrayado {
  text-decoration: underline;
  font-style: italic;
}

.quote {
  color: var(--color-text-sky);
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.copyright {
  color: var(--color-subtext-zero);
  font-weight: 300;
  font-style: italic;
}

/* ? ↓ Contenido secundario (descripciones, explicaciones y detalles) */
.curiosidades-contenido,
.descripcion,
.tech-description {
  color: var(--color-subtext);
}

.curiosidades-summary {
  font-weight: 500;
  cursor: pointer;
}

/* ======================== ESTILOS DEL FOOTER ======================== */
/* ? ↓ Centrado de textos y alineación de enlaces del Footer */
footer p,
address {
  text-align: center;
}
