---
// ↓ Importamos nuestro Layout Base
import BaseLayout from "../layouts/BaseLayout.astro";
// ↓ Importamos Componentes Modularizados
import Bienvenido from "../components/Bienvenido.astro";
import MiVida from "../components/MiVida.astro";
import MisProyectos from "../components/MisProyectos.astro";
import TecnologiasInteres from "../components/TecnologiasInteres.astro";
import Curiosidades from "../components/Curiosidades.astro";
---

<BaseLayout>
  <main>
    <!-- 
    ! Main: Representa el contenido principal del documento HTML, suele ser único y diferenciable, además de que solo puede haber una etique <main> en un archivo HTML
    ? Notas: El <main> no se deben incluir elementos que se repitan en varias páginas, como el encabezado <header> o el pie de página <footer>, únicamente debe ir el contenido específico y condicional de esa página en cuestión
    ? Notas Adicionales: A veces es preferible usar HTML semántico en vez de usar divs y spans para facilitar la accesibilidad y la comprensión de los motores de búsqueda aunque su uso no está prohibido para nada
    ? Role: Define el rol del elemento, en este caso, el rol del <main> es "main", este sirve para que los motores de búsqueda y los lectores de pantalla puedan identificar el contenido principal de la página web
    -->
    <Bienvenido />

    <MiVida />

    <MisProyectos />

    <TecnologiasInteres />

    <Curiosidades />
  </main>
</BaseLayout>
