<section id="bienvenido">
  <header>
    <h2>¡Bienvenido!</h2>
  </header>
  <p>
    <!-- * P: Representa un párrafo -->
    Bienvenido a mi portafolio personal. Aquí encontrarás información sobre mis
    <strong>proyectos</strong>, habilidades y experiencia profesional además de
    poner conocerme un poco más. ¿Estás listo?
  </p>
</section>
