<section id="curiosidades">
  <header>
    <h2>Curiosidades sobre Mí</h2>
  </header>
  <details open>
    <summary>¿Cuál es tu color favorito?</summary>
    <p>
      Mi color favorito es el negro aunque también me encanta el color azul.
      Dentro de Internet, me encanta la paleta de colores de Catppuccin, se me
      hacen unos colores muy estéticos y bonitos.
    </p>
  </details>
  <details>
    <summary>¿Qué navegador usas?</summary>
    <p>
      Actualmente uso <strong>Firefox</strong> aunque con la polémica acerca de su
      nuevo CEO y la integración de la IA sobre Firefox me hace dudar sobre si seguir
      utilizándolo aunque sea mi navegador favorito.
    </p>
  </details>
  <details>
    <summary>¿Cuál es tu sabor de helado favorito?</summary>
    <p>
      Soy muy variado, me gusta desde el chocolate y sus variantes, la vainilla,
      el café, mamey, coco, etc. Mientras sea helado sé que me gustará mucho.
    </p>
  </details>
</section>
