---
// ↓ Creamos una "const" que se encargará de siempre tener actualizado el año del Copyright
const year = new Date().getFullYear();
---

<footer>
  <!-- * Footer: Nos permite tener un pie de página en nuestra web -->
  <!-- ? Suele ser común el derecho de copyright en las páginas webs, especialmente en empresas -->
  <!--
    * El lazy loading en imágenes es importante para mejorar el rendimiento de las páginas web
    ! No se recomienda usar para imágenes que se van a ver a primera vista en cuanto se entre a la página
    ? Se recomienda usarlo en imágenes en la parte inferior para UX y rendimiento en memoria
  -->
  <p>© {year} José Luis Ramírez Sánchez. Todos los derechos reservados.</p>
  <address>
    <p>
      <a
        href="mailto:xocemyst@duck.com"
        aria-label="Enviar un correo electrónico a xocemyst@duck.com"
      >
        <span aria-hidden="true">📬</span>
        Envíame un correo
      </a>
      <!-- ? mailto: Abre el cliente de correo del usuario y autocompleta el destinatario, útil si se usa el correo -->
      <a
        href="https://smp9.simplex.im/a#rMR3mX4XndQhxJgJ_qcma1NKD_uQ0PisFCCe_tAmXTw"
        target="_blank"
        rel="noreferrer"
      >
        <span aria-hidden="true">💬</span>
        SimpleX
      </a>
      <!-- ? smp9.simplex.im: Conecta al visitante con mi usuario de SimpleX para mensajería segura y privada -->
    </p>
  </address>
</footer>
