---
// ↓ Importamos los Lucide Icons que vamos a usar dentro de nuestro Header
import {
  ChevronRight,
  ChevronLeft,
  User,
  House,
  HeartHandshake,
  NotebookPen,
  FolderCode,
  Rocket,
  Cat,
  GitBranch,
  UserRoundSearch,
} from "@lucide/astro";
---

<header>
  <!-- * Header: Representa el encabezado del documento HTML, usualmente suele ser replicable y genérico dentro del abanico de la página web -->
  <h1 class="titulo-principal">
    <ChevronRight size={20} stroke-width={10} />
    Portafolio Personal
    <ChevronLeft size={20} stroke-width={10} />
    <br />
    José Luis Ramírez Sánchez
  </h1>

  <nav id="indice" class="indice" aria-label="Índice de Contenido">
    <!-- ? Nav: Nos permite tener un sistema de navegación en nuestra web, puede verse como un índice propio e integrado -->
    <a href="#bienvenido">
      <House size={13} stroke-width={3} />
      Inicio
    </a>
    <a href="#mi-vida">
      <User size={13} stroke-width={3} />
      Mi Vida
    </a>
    <a href="#aficiones">
      <NotebookPen size={13} stroke-width={3} />
      Aficiones
    </a>
    <a href="#mis-gustos">
      <HeartHandshake size={13} stroke-width={3} />
      Mis Gustos
    </a>
    <a href="#mis-proyectos">
      <FolderCode size={13} stroke-width={3} />
      Mis Proyectos
    </a>
    <a href="#tecnologias-de-interes">
      <Rocket size={13} stroke-width={3} />
      Tecnologías de Interés
    </a>
    <a href="#curiosidades">
      <Cat size={13} stroke-width={3} />
      Curiosidades
    </a>
  </nav>
  <nav id="indice-redes-sociales" class="indice" aria-label="Redes Sociales">
    <a
      href="https://github.com/Kat404"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Perfil de GitHub"
    >
      <GitBranch size={13} stroke-width={3} /> GitHub
    </a>
    <a
      href="https://www.reddit.com/user/Kat_404"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Perfil de Reddit"
    >
      <UserRoundSearch size={13} stroke-width={3} /> Reddit
    </a>
  </nav>
  <!-- ? targer="_blank" significa que redirigirá a la página seleccionable pero en una Nueva Pestaña -->
  <!--
    * a: Representa un enlace o redireccionamiento entre la misma página o hacia otra
    ? target: Define el destino del enlace o del redireccionamiento
    ? rel: Define la relación entre la página actual y la página enlazada
    ? noreferrer: Define que no se envíe información del navegador al enlace, bueno por motivos de privacidad
  -->
</header>
