<header>
  <!-- * Header: Representa el encabezado del documento HTML, usualmente suele ser replicable y genérico dentro del abanico de la página web -->
  <h1 id="titulo-principal">Portafolio Personal - José Luis Ramírez Sánchez</h1>

  <nav id="indice" aria-label="Índice de Contenido">
    <!-- ? Nav: Nos permite tener un sistema de navegación en nuestra web, puede verse como un índice propio e integrado -->
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#mi-vida">Mi Vida</a>
    <a href="#mis-gustos">Mis Gustos</a>
    <a href="#aficiones">Aficiones</a>
    <a href="#mis-proyectos">Mis Proyectos</a>
    <a href="#tecnologias-de-interes">Tecnologías de Interés</a>
    <a href="#curiosidades">Curiosidades</a>
  </nav>
  <nav id="indice-redes-sociales" aria-label="Redes Sociales">
    <a
      href="https://github.com/Kat404"
      target="_blank"
      rel="noreferrer"
      aria-label="Perfil de GitHub">GitHub</a
    >
    <a
      href="https://www.reddit.com/user/Kat_404"
      target="_blank"
      rel="noreferrer"
      aria-label="Perfil de Reddit">Reddit</a
    >
  </nav>
  <!-- ? targer="_blank" significa que redirigirá a la página seleccionable pero en una Nueva Pestaña -->
  <!--
    * a: Representa un enlace o redireccionamiento entre la misma página o hacia otra
    ? target: Define el destino del enlace o del redireccionamiento
    ? rel: Define la relación entre la página actual y la página enlazada
    ? noreferrer: Define que no se envíe información del navegador al enlace, bueno por motivos de privacidad
  -->
</header>
