<section id="mis-proyectos">
  <header>
    <h2>Mis Proyectos</h2>
  </header>
  <ul>
    <li class="list-project">
      <!-- * Class: Nos ayuda a darle una clase a un elemento -->
      <a href="https://github.com/Kat404/linux_security.conf" rel="noreferrer"
        >Configuración Out-of-the-Box</a
      >
      para mejorar la seguridad nativa de Linux mediante <em>systemd</em>
    </li>
    <li class="list-project">
      <a href="https://github.com/Kat404/ZSH-Terminal" rel="noreferrer"
        >ZSH-Terminal</a
      >: Guía básica para el uso y personalización de la shell <strong
        >Zsh</strong
      >
    </li>
    <li class="list-project">
      <a href="https://github.com/Kat404/FISH-Terminal" rel="noreferrer"
        >FISH-Terminal</a
      >: Guía básica para el uso y personalización de la shell <strong
        >Fish</strong
      >
    </li>
    <li class="list-project">
      <a href="https://github.com/Kat404/dotfiles" rel="noreferrer">Dotfiles</a
      >: Configuración personal para sistemas operativos Linux y demás
      configuraciones para mucho software que utilizo para desarrollar y vivir
      Linux de manera <em>Awesome</em>
    </li>
  </ul>
</section>
