<section id="mi-vida">
  <header>
    <h2>Mi Vida</h2>
  </header>
  <p>
    Actualmente soy un <em>estudiante</em> en <strong
      >Ingeniería en Sistemas Computacionales</strong
    >, me gustan mucho los Sistemas Operativos, en especial los tipo <strong
      >UNIX</strong
    >, me quiero enfocar en el desarrollo FrontEnd, diseño web y todo lo que
    tenga que ver con la UI/UX de Interfaces Gráficas para usuarios modernos y
    exigentes.
  </p>
  <h3 id="aficiones">Gustos y Aficiones</h3>
  <ul>
    <!-- * Ul: Representa una lista no ordenada -->
    <li>
      Sistemas Operativos: Linux (Arch Linux), FreeBSD & próximamente OpenBSD.
    </li>
    <!-- * Li: Representa un elemento de lista -->
    <li>
      Desarrollo Web (Aprendizaje Temprano): HTML y CSS, con determinación para
      dominar frameworks para FrontEnd como <strong>Astro</strong> con React y frameworks
      de CSS como Bootstrap o TailwindCSS.
    </li>
    <li>
      Mejoramiento de la seguridad & privacidad de sistemas y navegadores:
      AdBlockers, Firewalls, Sandboxing, etc.
    </li>
  </ul>
  <aside id="mis-gustos">
    <!-- ? Aside: Sirve para catalogar contenido no relevante conforme al contenido original, es como si fuese un extra, también lo podríamos ver como un contenido indirectamente relacionado -->
    <header>
      <h3>Mis Gustos</h3>
    </header>
    <p>Dentro de mis gustos personales están:</p>
    <ul>
      <li>El helado de vainilla y café</li>
      <li>Los gatos <em>obviamente</em></li>
      <li>Programar y aprender cada día más y más</li>
      <li>Hacer ejercicio de manera casual pero constante</li>
    </ul>
  </aside>
</section>
