<section id="tecnologias-de-interes">
  <header>
    <h2>Tecnologías de Interés</h2>
  </header>
  <p>Fundamentalmente son las básicas dentro del desarrollo web:</p>
  <ul>
    <!--
      * <ol> tiene muchas opciones de atributos como:
      -> type="" (1, A, a, I, i): Cambia la viñeta inicial de la lista
      -> reversed: Hace que la lista tenga un sentido inverso
      -> start="": Podemos modificar el valor inicial de la lista
    -->
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ul>
  <p>
    Fuera de los lenguajes de marcado, estilo y programación "básicos", me
    encanta estar aprendiendo acerca de:
  </p>
  <ul>
    <li>
      <strong>Framework Principal:</strong> Astro, me encanta el hecho de poder modular,
      crear y usar componentes, layouts y diferentes recursos para el proyecto en
      el que esté trabajando o en futuros proyectos.
    </li>
    <li>
      <strong>Librería Popular:</strong> React, me gusta la idea de poner implementar
      y complementar las diferentes capacidades y ventajas de Astro con un toque moderno,
      portable y con un transfondo sumamente comercial y con mucha documentación aunque
      su complejidad sea relativamente alta al principio.
    </li>
    <li>
      <strong>Framework CSS:</strong> TailwindCSS/UnoCSS/PicoCSS, no solo existen
      frameworks para cuestiones de lógica, organización y optimización de un proyecto
      web, si no que, también existen frameworks para poder crear, modificar y mantener
      cientas de líneas CSS con mayor facilidad. Esos son los frameworks que más me
      interesa aprender. ¿Por qué?
    </li>
    <dl>
      <dt>
        <strong> TailwindCSS: </strong>
      </dt>
      <dd>
        El más moderno y capaz de todos, tiene un ecosistema (shadcn, DaisyUI) y
        uso increíble dentro de la industria, con su número motor en Rust desde
        la versión v4.x la velocidad ya no es algo secundario dentro de este
        framework.
      </dd>

      <dt>
        <strong> UnoCSS: </strong>
      </dt>
      <dd>
        Dentro de un mundo lleno de bloatware y runtimes <em>pesados</em>,
        UnoCSS aparece como una opción <strong>atómica</strong> y verdaderamente extremadamente
        <strong>rápida</strong>, generando un bundle pequeño y optimizando todo
        al máximo, aunque si capacidad atómica suena interesante y desafiante,
        me gustaría echarle un vistazo más tarde.
      </dd>

      <dt>
        <strong> PicoCSS: </strong>
      </dt>
      <dd>
        Ligereza y rendimiento en su máximo esplendor, un framework <strong
          >classless</strong
        >, Pico utiliza las etiquetas nativas de HTML para aplicar el estilo.
        Muy bueno para proyectos donde el desarrollo del HTML es prioridad.
      </dd>
    </dl>
  </ul>
  <blockquote class="quote">
    "Todo aprendizaje lleva tiempo, sudor y esfuerzo. Es un largo camino pero no
    imposible de cursar"
  </blockquote>
</section>
